MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=

# 구글
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
# 카카오
KAKAO_OAUTH_CLIENT_ID=
KAKAO_OAUTH_CLIENT_SECRET=
KAKAO_OAUTH_REDIRECT_URI=

OAUTH_STATE_ENCRYPTION_KEY=
OAUTH_ALLOWED_RETURN_PATHS=
OAUTH_ALLOWED_ORIGINS=
FRONTEND_ORIGIN=

# JWT
JWT_SIGNING_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
